mochawesome-report/mochawesome.html
mochawesome-report/mochawesome.json
cypress/screenshots/spec.cy.js/Test suite -- Test case (failed).png
cypress/downloads/downloads.html
cypress/screenshots/spec.cy.js/Test suite -- Test case (failed).png
mochawesome-report/mochawesome.html
mochawesome-report/mochawesome.json
